In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('coviddata.csv',skiprows=3, sep="\t")

In [15]:
df.head(3)

,Gene ID,Gene Name,'COVID-19' vs 'normal' in 'colon' .foldChange,'COVID-19' vs 'normal' in 'colon'.pValue,'COVID-19' vs 'normal' in 'lung' .foldChange,'COVID-19' vs 'normal' in 'lung'.pValue
0,ENSG00000000003,TSPAN6,0.2,0.813312,-0.4,0.670524
1,ENSG00000000005,TNMD,-1.9,0.014671,-0.2,0.883507
2,ENSG00000000419,DPM1,0.6,0.208810,0.7,0.139756

In [19]:
#sklearn perform 1,linear 2, classification, 3, random trees, 4, clustering 5, k prediction using elbow plots 

df.rename(columns={
    "'COVID-19' vs 'normal' in 'colon' .foldChange": "Colon_FoldChange",
    "'COVID-19' vs 'normal' in 'colon'.pValue": "Colon_pValue",
    "'COVID-19' vs 'normal' in 'lung' .foldChange": "Lung_FoldChange",
    "'COVID-19' vs 'normal' in 'lung'.pValue": "Lung_pValue"
}, inplace=True)

In [20]:
df.head(3)

,Gene ID,Gene Name,Colon_FoldChange,Colon_pValue,Lung_FoldChange,Lung_pValue
0,ENSG00000000003,TSPAN6,0.2,0.813312,-0.4,0.670524
1,ENSG00000000005,TNMD,-1.9,0.014671,-0.2,0.883507
2,ENSG00000000419,DPM1,0.6,0.208810,0.7,0.139756

In [27]:
def rename_valid(df):
    expected_columns = ['Colon_FoldChange', 'Colon_pValue', 'Lung_FoldChange', 'Lung_pValue']
    if all(col in df.columns for col in expected_columns):
        print("Columns renamed successfully.")
    else:
        print("Renaming failed. Check column names.")
print(rename_valid)

<function rename_valid at 0x00000223AA9B4B80>

In [28]:
df.head(3)

,Gene ID,Gene Name,Colon_FoldChange,Colon_pValue,Lung_FoldChange,Lung_pValue
0,ENSG00000000003,TSPAN6,0.2,0.813312,-0.4,0.670524
1,ENSG00000000005,TNMD,-1.9,0.014671,-0.2,0.883507
2,ENSG00000000419,DPM1,0.6,0.208810,0.7,0.139756

In [54]:
# Filter the data for colon and lung samples
colon_data = df[['Gene ID', 'Gene Name', "Colon_FoldChange", "Colon_pValue"]]
lung_data = df[['Gene ID', 'Gene Name', "Lung_FoldChange", "Lung_pValue"]]

# Save to individual CSV files
colon_data.to_csv("colon_data.csv", index=False)
lung_data.to_csv("lung_data.csv", index=False)

In [55]:
lung_df.head()

      Gene ID,Gene Name,Lung_FoldChange,Lung_pValue
0     ENSG00000000003,TSPAN6,-0.4,0.670523823787515
1       ENSG00000000005,TNMD,-0.2,0.883506955372642
2        ENSG00000000419,DPM1,0.7,0.139755999676328
3      ENSG00000000457,SCYL3,-0.1,0.872393309099661
4  ENSG00000000460,C1orf112,-0.9,0.0746635129872982

In [53]:
colon_df.head()

     Gene ID,Gene Name,Colon_FoldChange,Colon_pValue
0       ENSG00000000003,TSPAN6,0.2,0.813312168267391
1       ENSG00000000005,TNMD,-1.9,0.0146707693326173
2         ENSG00000000419,DPM1,0.6,0.208809855217115
3         ENSG00000000457,SCYL3,0.4,0.44877675666895
4  ENSG00000000460,C1orf112,-1.0,0.00014191038368...

In [64]:
import pandas as pd

# Read the files
colon_df = pd.read_csv("colon_data.csv", sep=",")
lung_df = pd.read_csv("lung_data.csv", sep=",")

colon_df.head()

           Gene ID Gene Name  Colon_FoldChange  Colon_pValue
0  ENSG00000000003    TSPAN6               0.2      0.813312
1  ENSG00000000005      TNMD              -1.9      0.014671
2  ENSG00000000419      DPM1               0.6      0.208810
3  ENSG00000000457     SCYL3               0.4      0.448777
4  ENSG00000000460  C1orf112              -1.0      0.000142

In [63]:
lung_df.head()

           Gene ID Gene Name  Lung_FoldChange  Lung_pValue
0  ENSG00000000003    TSPAN6             -0.4     0.670524
1  ENSG00000000005      TNMD             -0.2     0.883507
2  ENSG00000000419      DPM1              0.7     0.139756
3  ENSG00000000457     SCYL3             -0.1     0.872393
4  ENSG00000000460  C1orf112             -0.9     0.074664

In [65]:
# Merge the DataFrames based on a common column
merged_df = pd.merge(colon_df, lung_df, on="Gene ID", how="outer")

In [66]:
# Handle missing values (if needed)
# For example, filling missing values with a default value
merged_df.fillna("NA", inplace=True)

C:\Users\imrkm\AppData\Local\Temp\ipykernel_35780\4235904892.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  merged_df.fillna("NA", inplace=True)

In [67]:
# Concatenate columns while renaming them if necessary
# For example, concatenating fold change and p-value columns from different tissues
merged_df["Colon_FoldChange"] = merged_df["Colon_FoldChange"].astype(str) + "_" + merged_df["Colon_pValue"].astype(str)
merged_df["Lung_FoldChange"] = merged_df["Lung_FoldChange"].astype(str) + "_" + merged_df["Lung_pValue"].astype(str)

# Write to a new file
merged_df.to_csv("merged_genes.csv", index=False, sep="\t")